@*@{
    Layout = "_Layout";
}
@using HRSystem.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model OfficialHolidays
<div class="main-panel">
    <div class="main-content">
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Zero configuration table -->
                <section id="configuration">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title-wrap bar-success">
                                        <h4 class="card-title">Add Holiday </h4>
                                    </div>
                                </div>
                                <div class="card-body collapse show" >

                                    <div >
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
*@