@using HRSystem.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EmployeeEditViewModel

@{
    Layout = "_EmployeeLayout";
}
<div class="main-panel">
    <div class="main-content">
        <div class="content-wrapper">
            <div class="container-fluid">
                <section id="horizontal-form-layouts">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="content-header">Update Employee Form</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title-wrap bar-success">
                                        <h4 class="card-title" id="horz-layout-basic">Employee Information</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="px-3">
                                        <form asp-action="Update" asp-controller="Employee" enctype="multipart/form-data" class="form form-horizontal">
                                            <div class="form-body">

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput1">Full Name: </label>
                                                    <div class="col-md-9">
                                                        <input type="text" asp-for="FullName" value="@Model.FullName" id="projectinput1" class="form-control" name="FullName">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput2">Address: </label>
                                                    <div class="col-md-9">
                                                        <input type="text" asp-for="Address" value="@Model.Address" id="projectinput2" class="form-control" name="Address">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput2">Phone: </label>
                                                    <div class="col-md-9">
                                                        <input type="text" asp-for="Phone" value="@Model.Phone" id="projectinput2" class="form-control" name="Phone">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput3">E-mail: </label>
                                                    <div class="col-md-9">
                                                        <input type="text" asp-for="Email" value="@Model.Email" id="projectinput3" class="form-control" name="Email">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput3">Password: </label>
                                                    <div class="col-md-9">
                                                        <input type="password" asp-for="Password" id="projectinput3" class="form-control" name="Password">
                                                    </div>
                                                </div>

                                                <div class="form-actions">
                                                    <button type="submit" class="btn btn-success mr-1">
                                                         Update
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
</div>